# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log
client-portal/frontend/node_modules
client-portal/backend/node_modules

# Env files
.env
.env.local
backend/.env
frontend/.env

# Logs
*.log

# Prisma
backend/prisma/migrations/

# Build
dist/
build/
